{% block layout_flare_header_usp_bar %}
    <div class="flare-header-usp-bar-col {{ flareHeaderElementCssClasses }}">
        <div class="flare-header-usp-bar-row {{ theme_config('flare-header-usp-bar-row-css-classes') }}">
            {% block layout_flare_header_usp_1 %}
                <div class="flare-header-usp-1-col {{ theme_config('flare-header-usp-1-css-classes') }}">
                    <img src="{{ theme_config('flare-header-usp-1-image')|sw_encode_url }}"
                         alt="{{ theme_config('flare-header-usp-1-text') }}"
                         class="flare-header-usp-img {{ theme_config('flare-header-usp-img-css-classes') }}"
                         width="{{ theme_config('flare-header-usp-image-width') }}"
                         height="{{ theme_config('flare-header-usp-image-height') }}"
                    >
                    <div class="flare-header-usp-text {{ theme_config('flare-header-usp-text-css-classes') }}">
                        {{ theme_config('flare-header-usp-1-text')|raw }}
                    </div>
                </div>
            {% endblock %}

            {% block layout_flare_header_usp_2 %}
                <div class="flare-header-usp-2-col {{ theme_config('flare-header-usp-2-css-classes') }}">
                    <img src="{{ theme_config('flare-header-usp-2-image')|sw_encode_url }}"
                         alt="{{ theme_config('flare-header-usp-2-text') }}"
                         class="flare-header-usp-img {{ theme_config('flare-header-usp-img-css-classes') }}"
                         width="{{ theme_config('flare-header-usp-image-width') }}"
                         height="{{ theme_config('flare-header-usp-image-height') }}"
                    >
                    <div class="flare-header-usp-text {{ theme_config('flare-header-usp-text-css-classes') }}">
                        {{ theme_config('flare-header-usp-2-text')|raw }}
                    </div>
                </div>
            {% endblock %}

            {% block layout_flare_header_usp_3 %}
                <div class="flare-header-usp-col-3-col {{ theme_config('flare-header-usp-3-css-classes') }}">
                    <img src="{{ theme_config('flare-header-usp-3-image')|sw_encode_url }}"
                         alt="{{ theme_config('flare-header-usp-3-text') }}"
                         class="flare-header-usp-img {{ theme_config('flare-header-usp-img-css-classes') }}"
                         width="{{ theme_config('flare-header-usp-image-width') }}"
                         height="{{ theme_config('flare-header-usp-image-height') }}"
                    >
                    <div class="flare-header-usp-text {{ theme_config('flare-header-usp-text-css-classes') }}">
                        {{ theme_config('flare-header-usp-3-text')|raw }}
                    </div>
                </div>
            {% endblock %}

            {% block layout_flare_header_usp_4 %}
                <div class="flare-header-usp-col-4-col {{ theme_config('flare-header-usp-4-css-classes') }}">
                    <img src="{{ theme_config('flare-header-usp-4-image')|sw_encode_url }}"
                         alt="{{ theme_config('flare-header-usp-4-text') }}"
                         class="flare-header-usp-img {{ theme_config('flare-header-usp-img-css-classes') }}"
                         width="{{ theme_config('flare-header-usp-image-width') }}"
                         height="{{ theme_config('flare-header-usp-image-height') }}"
                    >
                    <div class="flare-header-usp-text {{ theme_config('flare-header-usp-text-css-classes') }}">
                        {{ theme_config('flare-header-usp-4-text')|raw }}
                    </div>
                </div>
            {% endblock %}

            {% block layout_flare_header_usp_5 %}
                <div class="flare-header-usp-col-5-col {{ theme_config('flare-header-usp-5-css-classes') }}">
                    <img src="{{ theme_config('flare-header-usp-5-image')|sw_encode_url }}"
                         alt="{{ theme_config('flare-header-usp-5-text') }}"
                         class="flare-header-usp-img {{ theme_config('flare-header-usp-img-css-classes') }}"
                         width="{{ theme_config('flare-header-usp-image-width') }}"
                         height="{{ theme_config('flare-header-usp-image-height') }}"
                    >
                    <div class="flare-header-usp-text {{ theme_config('flare-header-usp-text-css-classes') }}">
                        {{ theme_config('flare-header-usp-5-text')|raw }}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}




